.internal 
  %section.main-content{:role => "main"}
    .container
      %section.primary-content
        %h1.title Bonus Clips
        %p This is early edited footage culled from interviews conducted for the documentary film What Comes Next Is The Future. These clips may or may not make it into the final film. Either way, Enjoy!
        %p Videos will only be viewable with a password given to the project's Kickstarter backers.

        %section.video-clip-group

          <iframe class="video-clip" src="https://player.vimeo.com/video/143046118" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <iframe class="video-clip" src="https://player.vimeo.com/video/143046121" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <iframe class="video-clip" src="https://player.vimeo.com/video/143046116" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <iframe class="video-clip" src="https://player.vimeo.com/video/143046129" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <iframe class="video-clip" src="https://player.vimeo.com/video/143046130" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <iframe class="video-clip" src="https://player.vimeo.com/video/143046122" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <iframe class="video-clip" src="https://player.vimeo.com/video/143046125" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <iframe class="video-clip" src="https://player.vimeo.com/video/143046117" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <iframe class="video-clip" src="https://player.vimeo.com/video/143049595" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <iframe class="video-clip" src="https://player.vimeo.com/video/143046119" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
