%section.main-content{:role => "main"}
  .container
    %section.featured
      %h2
        %em What Comes Next Is the Future
        is a documentary film about the web created by
        %a{:href => "http://www.bearded.com/", :rel => "me"}
          Bearded
        founder Matt Griffin. It is the story of Tim Berners-Lee&rsquo;s creation – how it came to be, where it’s been, and where it’s going – as told by the people who build it.
      %p
        In the film, Griffin knits together a narrative by mining dozens of conversations with important figures from throughout the web&rsquo;s history including Jeffrey Zeldman, Denise Jacobs, Tim Berners-Lee, Ethan Marcotte, Chris Wilson, Lyza Danger Gardner, Eric Meyer, Irene Au, Alex Russell, Trent Walton, Val Head, Jonathan Snook and many more.

    %section.newsletter
      %h3 Sign Up to Get Updates About the Film
      #mc_embed_signup
        %form#mc-embedded-subscribe-form.validate{:action => "//bearded.us5.list-manage.com/subscribe/post?u=d38151ad5b05b9d99f3d845c7&id=d2ff280859", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
          #mc_embed_signup_scroll
            %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
            / real people should not fill this in and expect good things - do not remove this or risk form bot signups
            %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
              %input{:name => "b_d38151ad5b05b9d99f3d845c7_d2ff280859", :tabindex => "-1", :type => "text", :value => ""}/
            .clear
              %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/

    %section.social-media
      %ul
        %li
          %a{:href => "http://bit.ly/1mhn1MG", :rel => "me"}
            Twitter
        %li
          %a{:href => "http://on.fb.me/1pLzMR5", :rel => "me"}
            Facebook
        %li
          %a{:href => "http://kck.st/1rIKaos", :rel => "me"}
            Kickstarter
        %li
          %a{:href => "http://www.imdb.com/title/tt6036786/", :rel => "me"}
            IMDB


    %section.screening-group
      %h2 Film Screenings
      %ul.screening.past
        %li.date 8.18.16
        %li.location Pittsburgh, PA, USA
        %li.event
          %a{:href => "https://www.showclix.com/event/abstractions-extras", :rel => "me"} World Premiere at Abstractions
      %ul.screening.past
        %li.date 9.19.16
        %li.location London, England, UK
        %li.event
          %a{:href => "http://londonwebstandards.org/", :rel => "me"} English Premiere at London Web Standards
      %ul.screening.past
        %li.date 9.19.16
        %li.location Providence, RI, US
        %li.event
          %a{:href => "http://www.meetup.com/ux-meetup/", :rel => "me"} PVDUX, Cable Car Cinema
      %ul.screening.past
        %li.date 9.20.16
        %li.location Edinburgh, Scotland, UK
        %li.event
          %a{:href => "https://www.eventbrite.co.uk/e/what-comes-next-is-the-future-scottish-premiere-tickets-27304160479", :rel => "me"} Scottish Premiere at Kin
      %ul.screening.past
        %li.date 9.20.16
        %li.location Martinsburg, WV
        %li.event
          %a{:href => "https://www.meetup.com/Panhandle-Web-Tech/events/233610354/", :rel => "me"} Panhandle Web Tech Meetup
      %ul.screening.confirmed.past
        %li.date 9.27.16
        %li.location Toledo, OH, USA
        %li.event
          %a{:href => "https://toledo.aiga.org/", :rel => "me"} AIGA Toledo Design Week
      %ul.screening.confirmed.past
        %li.date 9.29.16
        %li.location Manchester, England, UK
        %li.event
          %a{:href => "https://www.meetup.com/McrFRED/events/233741689/", :rel => "me"} McrFRED
      %ul.screening.confirmed
        %li.date 10.3.16–10.4.16
        %li.location Toronto, ON, CA
        %li.event
          %a{:href => "http://fitc.ca/presentation/comes-next-future/", :rel => "me"} Web Unleashed 2016
      %ul.screening.confirmed
        %li.date 10.3.16
        %li.location Austin, TX, USA
        %li.event
          %a{:href => "http://atxwebfilmseries.com", :rel => "me"} ATX Film Series
      %ul.screening.confirmed
        %li.date 10.4.16
        %li.location Bloomington, IN, USA
        %li.event
          %a{:href => "https://www.facebook.com/events/1580971382212391/", :rel => "me"} IxDA Bloomington
      %ul.screening.confirmed
        %li.date 10.5.16
        %li.location Boston, MA, USA
        %li.event
          %a{:href => "https://www.meetup.com/Boston-CSS/events/234269634/", :rel => "me"} Boston CSS
      %ul.screening.confirmed
        %li.date 10.6.16
        %li.location Lisbon, Portugal
        %li.event
          %a{:href => "https://pixels.camp/", :rel => "me"} Pixels Camp
      %ul.screening.confirmed
        %li.date 10.11.16
        %li.location Amsterdam, NL
        %li.event
          %a{:href => "Booking.com", :rel => "me"} Booking.com Designer Movie Night
      %ul.screening.confirmed
        %li.date 10.13.16
        %li.location Philadelphia, PA, USA
        %li.event
          %a{:href => "http://refreshphilly.org/", :rel => "me"} Refresh Philly
      %ul.screening.confirmed
        %li.date 10.14.16
        %li.location Berlin, Germany
        %li.event
          %a{:href => "https://www.razorfish.de/en/", :rel => "me"} Razorfish
      -# %ul.screening.pending
        %li.date 10.19.16
        %li.location Winnipeg, Canada
        %li.event
          %a{:href => "https://www.gdc.net/chapter/manitoba", :rel => "me"} Graphic Designers of Canada Manitoba #-
      %ul.screening.confirmed
        %li.date 10.26.16
        %li.location Washington, DC, USA
        %li.event
          %a{:href => "http://dc.aiga.org/", :rel => "me"} DC Design Week 2016
      %ul.screening.confirmed
        %li.date 11.9.16
        %li.location Sydney, Australia
        %li.event
          %a{:href => "http://webdirections.org/direction16/", :rel => "me"} Aussie Premiere at Web Directions
      -# %ul.screening.pending
        %li.date 2.17.16
        %li.location Zürich, Switzerland
        %li.event
          %a{:href => "http://2016.worldiaday.org/location/zurich-switzerland", :rel => "me"} World IA Day Switzerland #-
      .cta
        %span.question Would you like to screen What Comes Next Is the Future at your event?
        %a{:href => "https://goo.gl/forms/jhHuGHxovxOh6Z9d2", :rel => "me"} Great, just fill out the request form!

    %section.sponsors-group
      %h2 Many Thanks to Our Sponsors:
      %ul.sponsors.diamond.platinum
        %li
          %a{:href => "http://aneventapart.com/", :rel => "me"} An Event Apart
        %li
          %a{:href => "https://www.campaignmonitor.com/", :rel => "me"} Campaign Monitor
        %li
          %a{:href => "https://craftcms.com/", :rel => "me"} Craft CMS
        %li
          %a{:href => "http://seesparkbox.com/", :rel => "me"} Sparkbox
        %li
          %a{:href => "http://www.squarespace.com/", :rel => "me"} Squarespace
        %li
          %a{:href => "https://wordpress.com/", :rel => "me"} WordPress
      %ul.sponsors.rhodium
        %li
          %a{:href => "http://fusionads.net/", :rel => "me"} Carbon Ads
        %li
          %a{:href => "http://happycog.com/", :rel => "me"} Happy Cog
        %li
          %a{:href => "https://www.lullabot.com/", :rel => "me"} Lullabot
        %li
          %a{:href => "http://typostrophe.com/", :rel => "me"} Typostrophe
      %ul.sponsors.gold
        %li Ron Adams
        %li Justin Avery
        %li Brian Artka
        %li Jeffrey Barke
        %li Ben Callahan
        %li Brolik
        %li Paolo S. Ciarrocca
        %li Cyber-Duck
        %li CSSgirl Dev & Design
        %li Filament Group Inc.
        %li Rob Huddleston
        %li Jordan Koschei
        %li Michelle Leonette
        %li Jon Linklater-Johnson
        %li Dylan James Mesinger
        %li Netdiver Mag
        %li H+W Design
        %li Dave Olsen
        %li Dave Shea
        %li Glenda Sims
        %li Trav Stone
        %li Swordsweeper Industries
        %li Tady Walsh
        %li Taecho Group
        %li Webtegrity
        %li Sergey Chernyshev
        %li Christopher Policastro
        %li Petra Gregorová
        %li James Williamson
      %ul.sponsors.everyone-else
        %li And everyone who contributed to our Kickstarter campaign!