%section.main-content{:role => "main"}
  .container
    %section.featured
      %h2 
        %em What Comes Next Is the Future
        is the definitive documentary about the web, as told by the people who build it each day.
      %p 
        Their challenges and successes will help us better understand this thing called the web, and what lies ahead. A project by Matt Griffin &ndash; founder of Bearded, a Net Awards 2014 Agency of the Year nominee &ndash; 
        %em What Comes Next Is the Future 
        is an effort to capture the titanic shift in the web landscape that mobile devices have initiated.
    %section.social-media
      %ul
        %li
          %a{:href => "https://twitter.com/futureisnext", :rel => "me"} 
            Twitter
        %li
          %a{:href => "https://www.facebook.com/futureisnext", :rel => "me"} 
            Facebook
        / %li
        /   %a{:href => "https://www.kickstarter.com/projects/bearded/737707780?token=1b6e89bd", :rel => "me"} 
        /     Kickstarter
    %section.interviewees
      %ul
        %li 
          Ben 
          %span 
            Callahan
          %span.company
            Sparkbox
        %li 
          Josh 
          %span 
            Clark
          %span.company
            Global Moxie
        %li 
          Brad
          %span 
            Frost
        %li 
          Jason
          %span 
            Grigsby
          %span.company
            CloudFour
        %li 
          Stephen
          %span Hay
        %li 
          Jason
          %span 
            Head
        %li 
          Val 
          %span 
            Head
          %span.author
            author, CSS Animations Pocket Guide
        %li 
          Kevin M.
          %span 
            Hoffman
          %span.company
            Seven Heads Design
        %li 
          Greg
          %span 
            Hoy
          %span.company
            Happy Cog
        %li 
          Jenn
          %span 
            Lukas
        %li 
          Ethan
          %span 
            Marcotte
          %span.author
            author, Responsive Web Design
        %li 
          John
          %span 
            Resig
          %span.author
            creator, jQuery
        %li 
          Jennifer 
          %span 
            Robbins
          %span.company
            author, Web Design in a Nutshell
        %li 
          Sara 
          %span 
            Wachter-Boettcher
          %span.author
            author, Content Everywhere
        %li 
          Luke 
          %span 
            Wroblemski
          %span.author
            author, Mobile First
        %li.last
          Jeffery 
          %span 
            Zeldman
          %span.author
            author, Designing with Web Standards