%section.main-content{:role => "main"}
  .container
    %section.featured
      %h2 What Comes Next Is the Future is the definitive documentary about the web, from the perspective of the people who work with it every day.
      %p The film will take a look back at the early web, where we are now, and how all the struggles, successes, and opportunities might help us to better understand what lies ahead. A project by Matt Griffin &ndash; founder of Bearded, a Net Awards 2014 Agency of the Year nominee &ndash; What Comes Next is the future is an effort to capture the titanic shift in the web landscape that mobile devices have initiated.
      %h3 We need your help to finish the film.
      %a{:href => "#", :class => "button"} Watch The Trailer on Kickstarter.
