%section.main-content{:role => "main"}
  .container
    %section.featured
      %h2
        %em What Comes Next Is the Future
        is the definitive documentary about the web, as told by the people who build it each day.
      %p
        Their challenges and successes will help us better understand this thing called the web, and what lies ahead. A project by Matt Griffin &ndash; founder of Bearded, a Net Awards 2014 Agency of the Year nominee &ndash;
        %em What Comes Next Is the Future
        is an effort to capture the titanic shift in the web landscape that mobile devices have initiated.
    %section.social-media
      %ul
        %li
          %a{:href => "http://bit.ly/1mhn1MG", :rel => "me"}
            Twitter
        %li
          %a{:href => "http://on.fb.me/1pLzMR5", :rel => "me"}
            Facebook
        %li
          %a{:href => "http://kck.st/1rIKaos", :rel => "me"}
            Kickstarter
    %section.interviewees
      %ul
        %li
          Ben
          %span
            Callahan
          %span.company
            Sparkbox
        %li
          Josh
          %span
            Clark
          %span.company
            Global Moxie
        %li
          Brad
          %span
            Frost
        %li
          Jason
          %span
            Grigsby
          %span.company
            CloudFour
        %li
          Stephen
          %span Hay
          %span.author
            author, Responsive Design Workflow
        %li
          Jason
          %span
            Head
        %li
          Val
          %span
            Head
          %span.author
            author, CSS Animations Pocket Guide
        %li
          Kevin M.
          %span
            Hoffman
          %span.company
            Seven Heads Design
        %li
          Greg
          %span
            Hoy
          %span.company
            Happy Cog
        %li
          Jenn
          %span
            Lukas
          %span.company
            Ladies In Tech
        %li
          Ethan
          %span
            Marcotte
          %span.author
            author, Responsive Web Design
        %li
          John
          %span
            Resig
          %span.author
            creator, jQuery
        %li
          Jennifer
          %span
            Robbins
          %span.company
            author, Web Design in a Nutshell
        %li
          Sara
          %span
            Wachter-Boettcher
          %span.author
            author, Content Everywhere
        %li 
          Luke 
          %span 
            Wroblewski
          %span.author
            author, Mobile First
        %li.last
          Jeffrey
          %span
            Zeldman
          %span.author
            author, Designing with Web Standards
    %section.sponsors-group
      %h2 Many Thanks to Our Sponsors:
      %ul.sponsors.diamond.platinum
        %li 
          %a{:href => "http://aneventapart.com/", :rel => "me"} An Event Apart
        %li 
          %a{:href => "https://www.campaignmonitor.com/", :rel => "me"} Campaign Monitor
        %li 
          %a{:href => "https://pixelandtonic.com/", :rel => "me"} Pixel & Tonic
        %li 
          %a{:href => "http://seesparkbox.com/", :rel => "me"} Sparkbox
        %li 
          %a{:href => "http://www.squarespace.com/", :rel => "me"} Squarespace
        %li 
          %a{:href => "https://wordpress.com/", :rel => "me"} WordPress
      %ul.sponsors.rhodium
        %li 
          %a{:href => "http://fusionads.net/", :rel => "me"} Fusion Ads
        %li 
          %a{:href => "http://happycog.com/", :rel => "me"} Happy Cog
        %li 
          %a{:href => "https://www.lullabot.com/", :rel => "me"} Lullabot
        %li 
          %a{:href => "http://typostrophe.com/", :rel => "me"} Typostrophe
      %ul.sponsors.gold
        %li Ron Adams
        %li Brian Artka
        %li Jeffrey Barke
        %li Ben Callahan
        %li Brolik
        %li Paolo S. Ciarrocca
        %li Cyber-Duck
        %li CSSgirl Dev & Design
        %li Filament Group Inc.
        %li Rob Huddleston
        %li Jordan Koschei
        %li Michelle Leonette
        %li Jon Linklater-Johnson
        %li Dylan James Mesinger
        %li Netdiver Mag
        %li H+W Design
        %li Dave Olsen
        %li Dave Shea
        %li Glenda Sims
        %li Trav Stone
        %li Swordsweeper Industries
        %li Tady Walsh
        %li Taecho Group
        %li Webtegrity
      %ul.sponsors.everyone-else
        %li And everyone who contributed to our Kickstarter campaign!