%section.main-content{:role => "main"}
  .container
    %section.featured
      %h2
        %em What Comes Next Is the Future
        is a documentary film about the web created by
        %a{:href => "http://www.bearded.com/", :rel => "me"} 
          Bearded
        founder Matt Griffin. It is the story of Tim Berners-Lee&rsquo;s creation – how it came to be, where it’s been, and where it’s going – as told by the people who build it.
      %p 
        In the film, Griffin knits together a narrative by mining dozens of conversations with important figures from throughout the web&rsquo;s history including Jeffrey Zeldman, Denise Jacobs, Tim Berners-Lee, Ethan Marcotte, Chris Wilson, Lyza Danger Gardner, Eric Meyer, Irene Au, Alex Russell, Trent Walton, Val Head, Jonathan Snook and many more.

    %section.newsletter
      %h3 Sign Up to Get Updates About the Film
      #mc_embed_signup
        %form#mc-embedded-subscribe-form.validate{:action => "//bearded.us5.list-manage.com/subscribe/post?u=d38151ad5b05b9d99f3d845c7&id=d2ff280859", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
          #mc_embed_signup_scroll
            %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
            / real people should not fill this in and expect good things - do not remove this or risk form bot signups
            %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
              %input{:name => "b_d38151ad5b05b9d99f3d845c7_d2ff280859", :tabindex => "-1", :type => "text", :value => ""}/
            .clear
              %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/

    %section.social-media
      %ul
        %li
          %a{:href => "http://bit.ly/1mhn1MG", :rel => "me"}
            Twitter
        %li
          %a{:href => "http://on.fb.me/1pLzMR5", :rel => "me"}
            Facebook
        %li
          %a{:href => "http://kck.st/1rIKaos", :rel => "me"}
            Kickstarter

    %section.screening-group
      %h2 Upcoming Screenings
      %ul.screening
        %li.date 8.18.16
        %li.location Pittsburgh, PA
        %li.event
          %a{:href => "https://www.showclix.com/event/abstractions-extras", :rel => "me"} World Premiere at Abstractions

    %section.sponsors-group
      %h2 Many Thanks to Our Sponsors:
      %ul.sponsors.diamond.platinum
        %li 
          %a{:href => "http://aneventapart.com/", :rel => "me"} An Event Apart
        %li 
          %a{:href => "https://www.campaignmonitor.com/", :rel => "me"} Campaign Monitor
        %li 
          %a{:href => "https://craftcms.com/", :rel => "me"} Craft CMS
        %li 
          %a{:href => "http://seesparkbox.com/", :rel => "me"} Sparkbox
        %li 
          %a{:href => "http://www.squarespace.com/", :rel => "me"} Squarespace
        %li 
          %a{:href => "https://wordpress.com/", :rel => "me"} WordPress
      %ul.sponsors.rhodium
        %li 
          %a{:href => "http://fusionads.net/", :rel => "me"} Fusion Ads
        %li 
          %a{:href => "http://happycog.com/", :rel => "me"} Happy Cog
        %li 
          %a{:href => "https://www.lullabot.com/", :rel => "me"} Lullabot
        %li 
          %a{:href => "http://typostrophe.com/", :rel => "me"} Typostrophe
      %ul.sponsors.gold
        %li Ron Adams
        %li Justin Avery
        %li Brian Artka
        %li Jeffrey Barke
        %li Ben Callahan
        %li Brolik
        %li Paolo S. Ciarrocca
        %li Cyber-Duck
        %li CSSgirl Dev & Design
        %li Filament Group Inc.
        %li Rob Huddleston
        %li Jordan Koschei
        %li Michelle Leonette
        %li Jon Linklater-Johnson
        %li Dylan James Mesinger
        %li Netdiver Mag
        %li H+W Design
        %li Dave Olsen
        %li Dave Shea
        %li Glenda Sims
        %li Trav Stone
        %li Swordsweeper Industries
        %li Tady Walsh
        %li Taecho Group
        %li Webtegrity
        %li Sergey Chernyshev
        %li Christopher Policastro
        %li Petra Gregorová
        %li James Williamson
      %ul.sponsors.everyone-else
        %li And everyone who contributed to our Kickstarter campaign!