%section.main-content{:role => "main"}
  .container
    %section.featured
      %h2 
        %em What Comes Next Is the Future
        is the definitive documentary about the web, as told by the people who build it each day.
      %p Their challenges and successes will help us better understand this thing called the web, and what lies ahead. A project by Matt Griffin &ndash; founder of Bearded, a Net Awards 2014 Agency of the Year nominee &ndash; What Comes Next is the future is an effort to capture the titanic shift in the web landscape that mobile devices have initiated.
    %section.call-to-action
      %h3 We need your help to finish the film!
      %a{:href => "#", :class => "button"} Watch The Trailer on Kickstarter.
