-# Depending on where you are (homepage or 'internal' page), assign a class to the body element
- path = request.fullpath
- bodyclass = (path == "/" || path == "/index.html") ? 'home' : 'internal'

!!!5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{:lang => "en"}
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %title What Comes Next Is The Future
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => ""}
    %link{:href => "/favicon.ico?v=1", :rel => "shortcut icon"}
    %link{:href => "/v1/stylesheets/screen.css", :rel => "stylesheet"}
    <script type="text/javascript" src="//use.typekit.net/jgu5zet.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    %script{:src => "/v1/javascripts/vendor/modernizr.min.js"}
    %script{:src => "https://widget.battleforthenet.com/widget.js"}

  %body{:class => bodyclass}
    %header.site-header{:role => "banner"}

      .container
        %img{:src => "/v1/images/header.gif", :alt => "lead image", :class => "lead-image"}
        %h1.site-name
          What Comes Next
          %br
          Is The Future
        / <iframe class="trailer" src="//player.vimeo.com/video/163727395?byline=0&amp;portrait=0" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <iframe class="feature-film" src="https://player.vimeo.com/video/177267839" width="100%" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


    =yield

    %footer.site-footer
      .container
        %section.site-credit
          %p
            This documentary is brought to you by
            %a{:href => "http://www.bearded.com"} Bearded.
            %span
              All site content &copy; #{Date.today.year.to_s} Bearded Studio, Inc., all rights reserved.
            For more information,
            %a{:href => "http://www.bearded.com/contact"} contact us.

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-21673060-5', 'futureisnext.com');
      ga('send', 'pageview');

    -# Load jquery from the google cdn. If they're not available, load a local, minified version
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="/v1/javascripts/vendor/jquery.min.js"><\/script>')

    / %script{:src => "/v1/javascripts/site.js"}
