-# Depending on where you are (homepage or 'internal' page), assign a class to the body element
- path = request.fullpath
- bodyclass = (path == "/" || path == "/index.html") ? 'home' : 'internal'

!!!5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{:lang => "en"}
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %title What Comes Next Is The Future
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => ""}
    %link{:href => "/v1/stylesheets/screen.css", :rel => "stylesheet"}
    <script type="text/javascript" src="//use.typekit.net/jgu5zet.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    %script{:src => "/v1/javascripts/vendor/modernizr.min.js"}
  %body{:class => bodyclass}
    %header.site-header{:role => "banner"}
      .container
        %img{:src => "/v1/images/header.gif", :alt => "lead image", :class => "lead"}
        %h1.site-name 
          What Comes Next
          %br
          Is The Future
        %a{:href => "#", :class => "button"} Watch The Trailer on Kickstarter!


    =yield

    %footer.site-footer
      .container
        %section.site-credit
          %p 
            This documentary is brought to you by Bearded.
            %span
              All site content &copy; #{Date.today.year.to_s} Bearded Studio, Inc., all rights reserved.
            For more information, 
            %a{:href => "http://www.bearded.com/contact"} contact us.
          %a{:href => "http://www.bearded.com"} 
            //%img{:src => "/v1/images/built-by-bearded.svg", :alt => "Built by Bearded", :class => "built-by-bearded"}
            %span.screenreader-text Built by Bearded. 
        / %section.info{:role => "contentinfo"}
        /   %p.contact 
        /     For more information, 
        /     %a{:href => "http://www.bearded.com/contact"} contact Bearded.
         
  -# Uncomment if you need jQuery          
    -# Load jquery from the google cdn. If they're not available, load a local, minified version
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="/v1/javascripts/vendor/jquery.min.js"><\/script>')
  -# Uncomment if you need other JS and/or analytics scripts
    %script{:src => "/v1/javascripts/name-of-file.js"}