// site-wide footer styles

.site-footer {
  @include pie-clearfix;
  margin-top: 2em;
  .site-credit {
    text-align:center;
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
    img {
      max-width: 200px;
      margin: 0 auto;
      display: block;
    }
    p {
      color:$footer-color;
      font-size:1em;
    }
  }
  .info {
    text-align: center;
  }
}

.social-media {
  @include pie-clearfix;
  text-align: center;
  li {
    margin: 0 0.25em 0.5em 0.25em;
    @include inline-block;
  }
}
