///// ADMIN BAR /////

///// END ADMIN BAR /////

// site-wide header styles
.site-header {
  text-align:center;

  @include breakpoint($breakpoint-l) {

  }
  @include pie-clearfix;
  .lead-image {
    width: 100%;
    max-width: 700px;
  }

  .site-name {
    @include title-face;
    text-align: center;
    margin-bottom: 1.5rem;
    @include single-text-shadow(rgba(82,180,217, 0.7), 0, 0, 20px );

    @include breakpoint($breakpoint-s) {
      font-size: 3.5em;
    }
    @include breakpoint($breakpoint-m) {
      font-size: 4.5em;
      line-height: 1.1;
    }
    @include breakpoint($breakpoint-l) {
      font-size: 5.5em;
      line-height: 1.1;
    }
    @include breakpoint($breakpoint-xl) {
      font-size: 7em;
      line-height: 1;
    }
  }
  .button {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2em;
    text-align: center;
    max-width: 300px;
    font-size: 1.25em;
    color: darken($link-color, 40%);
    @include heading-face;
    @include transition(all 0.1s linear);
    @include single-text-shadow(rgba(255, 255, 255, 0.2), 1px, -1px, 0);
    @include background(linear-gradient(top, darken($link-color,5%), $link-color));
    box-shadow: -1px 0px 1px darken($link-color,20%), 
      0px 1px 1px darken($link-color,40%),
      -2px 1px 1px darken($link-color,20%), 
      -1px 2px 1px darken($link-color,40%), 
      -3px 2px 1px darken($link-color,20%),
      -2px 3px 1px darken($link-color,40%), 
      -4px 3px 1px darken($link-color,20%),
      -3px 4px 1px darken($link-color,40%), 
      -5px 4px 1px darken($link-color,20%),
      -4px 5px 1px darken($link-color,40%), 
      -6px 5px 1px darken($link-color,20%),
      -5px 6px 1px darken($link-color,40%), 
      -7px 6px 1px darken($link-color,20%),
      -6px 7px 0 darken($link-color,40%), 
      -8px 7px 0 darken($link-color,20%),
      -8px 7px 20px rgba(82,180,217, 0.5);


    &:hover,
    &:focus, {
     box-shadow: none;
     @include translate3d(-7px, 7px, 0);
    }
  }
}

.primary-navigation {
}

// use for things like user login/logout, other top-level, but lesser important links in header.
.utility-navigation {
}

.main-logo {
}