///// ADMIN BAR /////

///// END ADMIN BAR /////

// site-wide header styles
.site-header {
  text-align:center;

  @include breakpoint($breakpoint-l) {

  }
  @include pie-clearfix;
  .lead-image {
    width: 100%;
    max-width: 700px;
  }

  .site-name {
    @include title-face;
    text-align: center;
    margin-bottom: 1.5rem;
    @include single-text-shadow(rgba(82,180,217, 0.7), 0, 0, 20px );

    @include breakpoint($breakpoint-s) {
      font-size: 3.5em;
    }
    @include breakpoint($breakpoint-m) {
      font-size: 4.5em;
      line-height: 1.1;
    }
    @include breakpoint($breakpoint-l) {
      font-size: 5.5em;
      line-height: 1.1;
    }
    @include breakpoint($breakpoint-xl) {
      font-size: 6.5em;
      line-height: 1;
    }
  }
  .trailer {
    max-width: 650px;
    border: 2px solid darken($link-color, 45%);
    margin: 3em 0 2em 0;
  }
}

.primary-navigation {
}

// use for things like user login/logout, other top-level, but lesser important links in header.
.utility-navigation {
}

.main-logo {
}