///// ADMIN BAR /////

///// END ADMIN BAR /////

// site-wide header styles
.site-header {
  overflow: hidden;
  position: relative;
  height: 300px;
  padding-bottom: 1em;
  img {
    max-height: 300px;
    max-width: inherit;
    position: absolute;
  }
  .site-name {
    @include title-face;
    text-align: center;
    color: $background_color;
    @include single-text-shadow(0, 0, 20px, false, rgba(black, 1));
    position: relative;
    z-index: 10;
    padding-top: 2.5em;
  }
}

.primary-navigation {
}

// use for things like user login/logout, other top-level, but lesser important links in header.
.utility-navigation {
}

.main-logo {
}