// homepage-specific styles

.home {
  .main-content {
    padding-top: 1.5em;
    @include breakpoint($breakpoint-s) {
      padding-left: 8%;
      padding-right: 8%;
    }
  }
  .featured {
    @include breakpoint($breakpoint-l) {
      @include pie-clearfix;
      margin-bottom: 1.5em;
    }
    @include breakpoint($breakpoint-l) {
      margin-bottom: 2.5em;
    }
    h2 {
      @include breakpoint($breakpoint-l) {
        @include column(6);
      }
    }
    p {
      @include breakpoint($breakpoint-l) {
        @include column(6);
        @include last;
      }      
    }
  }
}